node_modules/
.npm/
.DS_Store

# Turbo
.turbo/

# Build outputs
**/dist/
**/.next/
**/out/
**/release/
**/web-dist/
**/core-bin/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
apps/core/data/models/*
apps/core/data/binaries/*
apps/core/data/kara.db
apps/core/data/kara.db-shm
apps/core/data/kara.db-wal
